APPLE_TEAM_ID=
APPLE_ID=
SIGNING_IDENTITY_NAME=

# Also required for notarization:
# xcrun notarytool store-credentials "AC_PASSWORD" --apple-id "$APPLE_ID" --team-id "$APPLE_TEAM_ID" --password "<app-specific-password>"
